In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsA
plt.style.use('seaborn')

C:\Users\phath\AppData\Local\Temp\ipykernel_1736\4186951312.py:5: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

# Dữ liệu chứng khoán

## Dữ liệu chính

In [2]:
data = pd.read_csv('D:/KHAIPHADULIEU/cuoiky/data.csv')
data.head()

,Unnamed: 0.1,Unnamed: 0,1. open,2. high,3. low,4. close,5. volume,Symbol,Name
0,0,2024-01-29,131.75,132.90,131.2800,132.83,1407250,A,Agilent Technologies
1,1,2024-01-26,133.71,134.23,130.6400,130.99,1319766,A,Agilent Technologies
2,2,2024-01-25,131.11,131.43,129.4300,129.88,1120939,A,Agilent Technologies
3,3,2024-01-24,132.41,132.80,129.4300,129.78,1141175,A,Agilent Technologies
4,4,2024-01-23,133.64,133.94,130.3298,131.64,854928,A,Agilent Technologies

In [3]:
data = data.drop(columns='Unnamed: 0.1')

In [5]:
data.columns

Index(['Unnamed: 0', '1. open', '2. high', '3. low', '4. close', '5. volume',
       'Symbol', 'Name'],
      dtype='object')

In [6]:
data = data.rename(columns={'Unnamed: 0' : 'Date', 'Name': 'Company Name',
                            '1. open': 'Gia_mo', '4. close': 'Gia_dong',
                            '2. high': 'Gia_max', '3. low': 'Gia_min',
                            '5. volume': 'Khoi_Luong_GD'})

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14840993 entries, 0 to 14840992
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Date           object
 1   Gia_mo         float64
 2   Gia_max        float64
 3   Gia_min        float64
 4   Gia_dong       float64
 5   Khoi_Luong_GD  int64
 6   Symbol         object
 7   Company Name   object
dtypes: float64(4), int64(1), object(3)
memory usage: 905.8+ MB

In [8]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14840993 entries, 0 to 14840992
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Date           datetime64[ns]
 1   Gia_mo         float64
 2   Gia_max        float64
 3   Gia_min        float64
 4   Gia_dong       float64
 5   Khoi_Luong_GD  int64
 6   Symbol         object
 7   Company Name   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 905.8+ MB

## Stock

In [9]:
data2 = pd.read_csv('D:/KHAIPHADULIEU/cuoiky/stock.csv')
data2.head()

,Unnamed: 0,Symbol,Company Name,Industry,Market Cap,Rank,country
0,0,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
1,1,AA,Alcoa,Aluminum,5.46B,2433,United States
2,2,AACG,ATA Creativity Global,Education & Training Services,33.89M,7443,China
3,3,AADI,Aadi Bioscience,Biotechnology,40.96M,7386,United States
4,4,AAL,American Airlines Group,Airlines,9.89B,1590,United States

In [10]:
data2 = data2.drop(columns='Unnamed: 0')

In [11]:
data2.columns

Index(['Symbol', 'Company Name', 'Industry', 'Market Cap', 'Rank', 'country'], dtype='object')

# Nối hai bảng

Ta sẽ nối hải bảng này bằng ahi trường là Symbol và Company Name vì cả hai bảng đều có trường chung là hai cột đó

In [12]:
final_data = pd.merge(data, data2, on=['Symbol' ,"Company Name"])
final_data.head()

,Date,Gia_mo,Gia_max,Gia_min,Gia_dong,Khoi_Luong_GD,Symbol,Company Name,Industry,Market Cap,Rank,country
0,2024-01-29,131.75,132.90,131.2800,132.83,1407250,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
1,2024-01-26,133.71,134.23,130.6400,130.99,1319766,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
2,2024-01-25,131.11,131.43,129.4300,129.88,1120939,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
3,2024-01-24,132.41,132.80,129.4300,129.78,1141175,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
4,2024-01-23,133.64,133.94,130.3298,131.64,854928,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States

Sửa lại tên các trường trong bảng

In [13]:
final_data = final_data.rename(columns={'Symbol': 'Ma_CP',
                                        'Industry': 'Nganh_Hang',
                                        'Market Cap': 'Von_Hoa_TT',
                                        'Rank': 'Xep_Hang',
                                        'country': 'Quoc_Gia',
                                        'Company Name': 'Ten_CT'})

In [14]:
final_data.columns

Index(['Date', 'Gia_mo', 'Gia_max', 'Gia_min', 'Gia_dong', 'Khoi_Luong_GD',
       'Ma_CP', 'Ten_CT', 'Nganh_Hang', 'Von_Hoa_TT', 'Xep_Hang', 'Quoc_Gia'],
      dtype='object')

# Tiền xử lý

Kiểm tra rỗng

In [16]:
final_data.isna().sum()

Date             0
Gia_mo           0
Gia_max          0
Gia_min          0
Gia_dong         0
Khoi_Luong_GD    0
Ma_CP            0
Ten_CT           0
Nganh_Hang       0
Von_Hoa_TT       0
Xep_Hang         0
Quoc_Gia         0
dtype: int64

Kiểm tra trùng lặp

In [15]:
final_data.duplicated().sum()

0

- Không thây giá trị rỗng
- Không có giá trị trùng lặp

=> Dữ liệu đã được làm sạch

Những chuyển biến đáng chú ý nhất rơi vào 2014-2023 nên ta sẽ tập trung vào phân tích khoảng thời gian này

In [17]:
start_date = '2014-01-01'
end_date = '2023-12-31'

final_data = final_data[(final_data['Date'] >= start_date) & (final_data['Date'] <= end_date)]

# In kết quả
final_data

,Date,Gia_mo,Gia_max,Gia_min,Gia_dong,Khoi_Luong_GD,Ma_CP,Ten_CT,Nganh_Hang,Von_Hoa_TT,Xep_Hang,Quoc_Gia
19,2023-12-29,139.07,139.7000,138.3600,139.03,1014431,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
20,2023-12-28,140.54,140.8114,139.6500,139.77,892560,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
21,2023-12-27,139.78,140.1550,139.0800,139.82,1181522,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
22,2023-12-26,139.31,140.4700,139.0866,139.81,948390,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
23,2023-12-22,139.61,140.3600,138.7900,139.57,1204144,A,Agilent Technologies,Diagnostics & Research,38.38B,481,United States
...,...,...,...,...,...,...,...,...,...,...,...,...
14840988,2017-05-04,13.34,13.5000,13.0000,13.11,33256,ZYME,Zymeworks,Biotechnology,728.02M,5378,Canada
14840989,2017-05-03,13.10,13.3952,13.1000,13.28,40809,ZYME,Zymeworks,Biotechnology,728.02M,5378,Canada
14840990,2017-05-02,13.00,13.1920,13.0000,13.10,68578,ZYME,Zymeworks,Biotechnology,728.02M,5378,Canada
14840991,2017-05-01,13.20,13.2000,13.0000,13.07,97009,ZYME,Zymeworks,Biotechnology,728.02M,5378,Canada
14840992,2017-04-28,13.50,14.2500,13.0000,13.00,953887,ZYME,Zymeworks,Biotechnology,728.02M,5378,Canada

In [19]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8151274 entries, 19 to 14840992
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   Date           datetime64[ns]
 1   Gia_mo         float64
 2   Gia_max        float64
 3   Gia_min        float64
 4   Gia_dong       float64
 5   Khoi_Luong_GD  int64
 6   Ma_CP          object
 7   Ten_CT         object
 8   Nganh_Hang     object
 9   Von_Hoa_TT     object
 10  Xep_Hang       int64
 11  Quoc_Gia       object
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 808.5+ MB

Xuất file dữ liệu

In [20]:
final_data.to_csv('Final_data.csv', index=False)